@{
    ViewData["Title"] = "Home Page";
}



<!-- Masthead-->
<header class="masthead">
    <div class="container">
        <div class="masthead-subheading text-dark bg-light col-lg-4">Gestão ambiental</div>
        <div class="masthead-heading text-uppercase text-light bg-dark col-lg-6">
            ISO 14000
        </div>
        <!--
            <a class="btn btn-primary btn-xl text-uppercase" href="#services">Tell Me More</a>
        -->
    </div>
</header>

<!-- Description-->
<section class="page-section">
    <div class="container">
        <div class="text-center">
            <h3 class="section-subheading text-muted">
                Sua empresa quer adotar boas práticas ambientais, evitar a
                poluição e proteger o meio ambiente? Então ela precisa entender o que é ISO 14000.
            </h3>
            <p>
                Quando uma empresa decide gerenciar os aspectos ambientais dos seus produtos, processos
                e serviços, ela
                precisa considerar diversas questões internas e externas do seu contexto que interferem
                em sua atividade
                econômica, para criar estratégias que possibilitem reduzir os impactos causados no meio
                ambiente.<br> Se
                a sua empresa está buscando esse objetivo, precisa ler atentamente este post.
            </p>
        </div>

    </div>
</section>

<!-- ISO 14000-->
<section class="page-section bg-light">
    <div class="container">

        <article>
            <h2>Perfil da ISO 14000</h2>
            <p>
                A ISO 14000 é um conjunto de normas internacionais relacionadas à gestão ambiental,
                das quais a ISO
                14001 é a norma mais conhecida, porque é nela que são estabelecidos os requisitos
                para implantação
                de
                sistemas de gestão ambiental e sua certificação.<br> As demais normas desse conjunto
                não são normas
                de
                certificação, mas de apoio. Elas fornecem informações valiosas para complementar o
                entendimento
                teórico e prático de aplicação da ISO 14001. Veja quais são essas normas:
            </p>
            <p class="post-meta">
                Baixe um resumo

                <button type="button" class="btn btn-info LinkPDFmodal" data-nbr="14000">
                    <span class="reading-time" title="Estimated read time">
                        ISO 14000
                    </span>
                </button>

            </p>
        </article>

        <article>
            <h2>ISO 14001</h2>
            <p>
                É uma norma internacional que define sobre como colocar um sistema de gestão
                ambiental eficaz em
                vigor.
                Ela é projetada para ajudar as empresas a adequar responsabilidades ambientais aos
                seus processos
                internos e
                a continuar sendo bem-sucedidas comercialmente
            </p>
            <p class="post-meta">
                Baixe a norma

                <button type="button" class="btn btn-info LinkPDFmodal" data-nbr="14001">
                    <span class="reading-time" title="Estimated read time">
                        ISO 14001
                    </span>
                </button>

            </p>
        </article>

        <article>
            <h2>ISO 14010</h2>
            <p>
                são normas sobre as Auditorias Ambientais. São elas que asseguram credibilidade a
                todo processo de
                certificação
                ambiental, visando as auditorias de terceiras partes, nas quais se verificam os
                compromissos
                estabelecidos
                pela empresa em seu Sistema de Gestão Ambiental
            </p>
            <p class="post-meta">
                Baixe a norma
                <button type="button" class="btn btn-info LinkPDFmodal" data-nbr="14010">
                    <span class="reading-time" title="Estimated read time">
                        ISO 14010
                    </span>
                </button>

            </p>
        </article>

        <article>
            <h2>ISO 14004</h2>

            <p>
                Fornece um guia para implementação bem-sucedida da ISO 14001. Essa norma ajuda a sua
                equipe a
                entender
                como cumprir os requisitos da ISO 14001 com base em boas práticas de gestão.
            </p>
            <p class="post-meta">
                Baixe a norma
                <button type="button" class="btn btn-info LinkPDFmodal" data-nbr="14004">
                    <span class="reading-time" title="Estimated read time">
                        ISO 14004
                    </span>
                </button>

            </p>
        </article>

        <article>
            <h2>ISO 14020</h2>

            <p>
                Estabelece princípios gerais para rotulagem de produtos — indicando seus aspectos e
                impactos
                ambientais — e para outras declarações ambientais por parte da empresa.
            </p>
        </article>

        <article>
            <h2>ISO 14031</h2>

            <p>
                Estabelece diretrizes para medição, monitoramento e análise do desempenho ambiental
                de uma
                organização.
                Seguindo essas diretrizes, a sua empresa vai determinar e medir indicadores de
                desempenho ambiental
                e
                poderá traçar estratégias para a sua melhoria.
            </p>
            <p class="post-meta">
                Baixe a norma
                <button type="button" class="btn btn-info LinkPDFmodal" data-nbr="14031">
                    <span class="reading-time" title="Estimated read time">
                        ISO 14031
                    </span>
                </button>

            </p>
        </article>

        <article>
            <h2>ISO 14040</h2>

            <p>
                Essa norma orienta a análise do ciclo de vida dos produtos, processos e serviços de
                uma
                organização para o entendimento dos aspectos e impactos gerados nas suas interações
                com o meio
                ambiente, desde a extração dos recursos naturais até a disposição final de resíduos
                e rejeitos.
            </p>
        </article>

        <h2>Guia ISO 64</h2>
        <p>
            Orienta sobre aspectos e questões ambientais que devem ser considerados pelos
            elaboradores de normas
            técnicas para produtos, de modo que contribuam para a redução de impactos ambientais em
            seu processo
            produtivo.<br> Contar com todo esse arcabouço de conhecimento relacionado à gestão
            ambiental traz muitos
            benefícios para as organizações que o acessam, dentre os quais podemos citar:
        </p>
        <ul>
            <li>
                maior consciência sobre os aspectos ambientais — causas de poluição, uso incorreto
                ou
                degradação dos recursos naturais — e sobre os impactos ambientais — efeitos na
                natureza, fauna, flora e pessoas — decorrentes da atividade econômica da empresa;
            </li>
            <li>
                estabelecimento de metas para repensar produtos, processos e serviços, hábitos de
                consumo e
                descarte, reduzir o consumo dos recursos naturais, recusar produtos que prejudicam a
                saúde e o meio
                ambiente, reutilizar ou reciclar resíduos ou rejeitos do processo produtivo;
            </li>
            <li>
                maior conformidade com requisitos legais e outros requisitos. A empresa que implanta
                um sistema de
                gestão ambiental tem que avaliar toda a legislação e outros requisitos aplicáveis e
                traçar planos de
                ação para o seu pleno atendimento. Com isso são minimizados os custos por infrações
                legais e
                reduzidos os passivos ambientais.
            </li>
        </ul>
        <p>
            As normas da série ISO 14000 são elaboradas por representantes de 164 países membros da
            ISO
            (International Organization for Standardization). Por esse motivo, sua qualidade,
            abrangência e eficácia
            são imensas, e sua credibilidade e aceitação são de nível mundial.<br>
        </p>
    </div>

</section>

<div class="container-ModalPDF">

    <!-- Modal -->
    <div id="ModalPDF" class="modal fade" role="dialog">
        <div class="modal-dialog modal-xl">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">PDF</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    
                </div>
                <div class="modal-body">

                    <object id="pdfView" type="application/pdf" data="" width="100%" height="100%" style="height: 85vh;">não encontrado</object>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
