@{
    ViewData["Title"] = "Privacy Policy";
}
<div style="min-height:1000px;">
    <section class="page-section container">
        <h1>Privacidade</h1>

        <p>
            Esta página contém conteúdos de terceiros para fins acadêmicos,<br>
            para poder usar algum conteúdo desta página, deve procurar os termos de licenças da
            <a href="https://www.abnt.org.br/">ABNT</a>, da página
            <a href="https://qualyteam.com/pb/blog/o-que-e-iso-14000/"> www.qualyteam.com </a> e
            <a href="https://www.sevenresiduos.com.br/gestao-de-residuos-industriais/"> www.sevenresiduos.com.br</a>.
        </p>
    </section>
</div>